body{

    background-color: #e8ffff;
}

header{

    display: flex;
    justify-content: center;
    background-color: #2e2a39;
    
    .header_banniere-festival{

        width: 60%;
    }

   
}

.navbar {
    background-color: #2e2a39da;
    overflow: hidden;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
}

.navbar li {
    padding: 14px 20px;
    background-color: #fd55b7;
    margin: 5px;
}

.navbar a {
    color: #e8ffff;
    text-align: center;
    text-decoration: none;
    display: flex;
}

.navbar a:hover {
    background-color: #83feff;
    color: #fd55b7;
}

h1{
    text-align: center;
    margin: 50px;
}

.presentation1{

    
display: flex;
justify-content: center;

}

.affiche-concert{

    display: flex;
    flex-direction: column;
    background-color: #83feff;
    width: 80%;
    align-items: center;
    border-radius: 20px;

    .image_affiche-concert{

        width: 30%;
        margin: 50px;
        align-self: center;
    }
}

.affiche-concert_container {
    min-width: auto;
    max-width: auto;
    display: flex;
    justify-content: center;
    align-self: center;
    flex-direction: column;
  }

  .player-container {
    text-align: center;
  }
  button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #3498db;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  button:hover {
    background-color: #2980b9;
  }
  audio {
    margin-top: 20px;
  }

  .equalizer {
    display: none;
    display: flex;
    align-items: flex-end;
    gap: 7px;
    height: 80px;
    width: 50%;
    margin: 0 auto;
  }
  .reverse-equalizer {
    display: flex;
    align-items: flex-start;
    gap: 7px;
    height: 80px;
    width: 50%;
    margin: 0 auto;
  }

  .bar {
    width: 10px;
    background-color: #15acff;
    animation: bounce 1s infinite ease-in-out;
  }

  .reverse-equalizer .bar {
    width: 10px;
    background-color: #eb15ff;
    animation: bounce 1s infinite ease-in-out;
  }

  /* Animation pour les barres */
  @keyframes bounce {
    0%,
    100% {
      height: 20%;
    }
    50% {
      height: 100%;
    }
  }

  .equalizer .bar:nth-child(1),
  .reverse-equalizer .bar:nth-child(1),
  .equalizer .bar:nth-child(6),
  .reverse-equalizer .bar:nth-child(6),
  .equalizer .bar:nth-child(11),
  .reverse-equalizer .bar:nth-child(11),
  .equalizer .bar:nth-child(16),
  .reverse-equalizer .bar:nth-child(16),
  .equalizer .bar:nth-child(21),
  .reverse-equalizer .bar:nth-child(21) {
    animation-delay: 0s;
  }

  .equalizer .bar:nth-child(3),
  .reverse-equalizer .bar:nth-child(3),
  .equalizer .bar:nth-child(8),
  .reverse-equalizer .bar:nth-child(8),
  .equalizer .bar:nth-child(13),
  .reverse-equalizer .bar:nth-child(13),
  .equalizer .bar:nth-child(18),
  .reverse-equalizer .bar:nth-child(18),
  .equalizer .bar:nth-child(23),
  .reverse-equalizer .bar:nth-child(23) {
    animation-delay: 0.4s;
  }

  .equalizer .bar:nth-child(7),
  .reverse-equalizer .bar:nth-child(7),
  .equalizer .bar:nth-child(12),
  .reverse-equalizer .bar:nth-child(12),
  .equalizer .bar:nth-child(2),
  .reverse-equalizer .bar:nth-child(2),
  .equalizer .bar:nth-child(17),
  .reverse-equalizer .bar:nth-child(17),
  .equalizer .bar:nth-child(22),
  .reverse-equalizer .bar:nth-child(22) {
    animation-delay: 0.2s;
  }

  .equalizer .bar:nth-child(15),
  .reverse-equalizer .bar:nth-child(15),
  .equalizer .bar:nth-child(5),
  .reverse-equalizer .bar:nth-child(5),
  .equalizer .bar:nth-child(20),
  .reverse-equalizer .bar:nth-child(20),
  .equalizer .bar:nth-child(25),
  .reverse-equalizer .bar:nth-child(25),
  .equalizer .bar:nth-child(10),
  .reverse-equalizer .bar:nth-child(10) {
    animation-delay: 0.3s;
  }

  .equalizer .bar:nth-child(19),
  .reverse-equalizer .bar:nth-child(19),
  .equalizer .bar:nth-child(14),
  .reverse-equalizer .bar:nth-child(14),
  .equalizer .bar:nth-child(24),
  .reverse-equalizer .bar:nth-child(24),
  .equalizer .bar:nth-child(4),
  .reverse-equalizer .bar:nth-child(4),
  .equalizer .bar:nth-child(9),
  .reverse-equalizer .bar:nth-child(9) {
    animation-delay: 0.1s;
  }

.accueil{

    display: flex;
    background-color: #83feff;
    border-radius: 20px;
    margin: 30px;

    .accueil_phrase-presentation{

        font-size: x-large;
        margin: 10px;
        text-align: center;
    }
  }


h3{

    text-align: center;
    margin: 100px;
    font-size: x-large;
    color: #fd55b7 ;
}

.presentation-artistes{

    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    width: 70%;
    
    
    

}

.presentation-artistes_container{

    display: flex;
    flex-direction: column;
    background-color: #83feff;
    border-radius: 10px;
    margin: 20px;
    
    
}


.presentation-artistes_container__image{

        margin: 50px;
        width: 60%;
        align-self: center;
    
    }


.presentation-artistes_container__texte{

    
    font-size: x-large;
    margin: 5px;
    color: #2e2a39;
    background-color: #fd55b7;
    text-align: center;
    border-radius: 20px;

    
}

h4{

    text-align: center;
    margin: 100px;
    font-size: x-large;
    color: #2e2a39 ;

}

.dispo-accueil{

    color: #e8ffff;
    background-color: #fd55b7;
    width: 20%;
    font-size: large;
    border-radius: 20px;
    align-self: center;
}

.container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px;
  }

  .card {
    background: linear-gradient(#012e2e,#e862b7);  
    border: 1px solid #ddd;
    border-radius: 8px;
    width: 300px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  .card h3 {
    margin: 0 0 10px;
    color: #fd55b7;
  }

  .card p {
    margin: 5px 0;
    color: #e8ffff;
  }

  .card .price {
    font-weight: bold;
    color: #15acff;
  }

  .card .horaire {
    font-style: italic;
  }
  .progress-bar {
    width: 300px;
    margin: 1.5rem auto;
    background-color: #ddd;
    border-radius: 6px;
    height: 24px;
  }
  .progress {
    width: 0;
    border-radius: 6px;
    height: 24px;
    text-align: right;
    position: relative;
    background-color: #15acff;
    animation: bounce 3s ease-in-out;
  }
  .progress span {
    font-size: 14px;
    display: inline-block;
    position: absolute;
    top: 0px;
    right: 10px;
    color: #fff;
  }

  /* Animation pour les barres */
  @keyframes bounce {
    0% {
      width: 0%;
    }
    100% {
      width: 100%;
    }
  }





